.announce-box {
  background: white;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 18px;
}

.announce-box img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 10px;
}

.stats {
  color: #666;
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.yellow {
  background: #ffd93b;
}

.blue {
  background: #1059ff;
  color: white;
}
